interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer efM5pUzh3C4NAbvgcnJvggtljIFrhtrvU6hTVjAX]
    method: GET
    uri: https://roosterteeth.com/api/v1/episodes/31139
  response:
    body: {string: '{"title":"How Up Is Space? - #413","caption":"RT Discusses Space
        Travel","sponsorOnly":false,"description":{"html":"<p>Join Gus Sorola, Gavin
        Free, Barbara Dunkelman, and Jon Risinger as they discuss space travel, owning
        cats, cringe-worthy\u00a0eye stuff, and more on this week''s RT Podcast! This
        episode originally aired on January 30, 2017, sponsored by go90 (<a href=\"http:\/\/go90.show\/2k92iit\">http:\/\/go90.show\/2k92iit<\/a>),
        ProFlowers (<a href=\"http:\/\/bit.ly\/2kI2inb\">http:\/\/bit.ly\/2kI2inb<\/a>),
        Shari\u2019s Berries (<a href=\"http:\/\/bit.ly\/2gjcsXO\">http:\/\/bit.ly\/2gjcsXO<\/a>)<\/p>","clean":"Join
        Gus Sorola, Gavin Free, Barbara Dunkelman, and Jon Risinger as they discuss
        space travel, owning cats, cringe-worthy\u00a0eye stuff, and more on this
        week''s RT Podcast! This episode originally aired on January 30, 2017, sponsored
        by go90 (http:\/\/go90.show\/2k92iit), ProFlowers (http:\/\/bit.ly\/2kI2inb),
        Shari\u2019s Berries (http:\/\/bit.ly\/2gjcsXO)"},"slug":"rt-podcast-2017-413-ah8abd","site":"roosterTeeth","id":31139,"number":413,"length":5791,"profilePicture":{"id":"100374644","uuid":"cf8c0069-97d8-4b73-998f-7ad7724ebca9","title":"","description":"","container_type":"Shows\\Models\\Episode","container_id":"31139","permission":{"value":0,"name":null},"aws_bucket":"cdn.roosterteeth.com","aws_key":"uploads\/images\/a96991e0-7c2c-4db9-b6ba-f8c798d71e60\/original\/690915-1485886964298-rtp413_-_THUMB.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2017-01-31
        18:23:26","updated_at":"2018-01-17 20:31:17","deleted_at":null,"picture_type":"profile"},"show":{"name":"Rooster
        Teeth Podcast","summary":{"html":"<p>On a more or less weekly basis the Rooster
        Teeth crew discuss gaming, films, and projects that they''re currently working
        on.<\/p>","clean":"On a more or less weekly basis the Rooster Teeth crew discuss
        gaming, films, and projects that they''re currently working on."},"id":71,"slug":"rt-podcast","seasonCount":11,"coverPicture":{"id":"100283413","uuid":"8ca26eb0-6b8d-4d9b-8af3-b9465e2ddc94","title":"","description":"","container_type":"Shows\\Models\\Show","container_id":"71","permission":{"value":0,"name":null},"aws_bucket":"cdn.roosterteeth.com","aws_key":"uploads\/images\/27c3c726-2f15-4812-a846-8a358f9ab29a\/original\/21-1475093114649-RTP_Hero_1800x650.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2016-09-28
        20:04:53","updated_at":"2018-01-17 20:02:39","deleted_at":null,"picture_type":"cover"},"profilePicture":{"id":"100516105","uuid":"9cc2d213-bd2d-424b-b2ba-c590f33bd3c2","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"71","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/66afab6f-ef83-456e-be45-054720fc381f.jpg\/original\/RTPodcastSquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-06
        19:17:17","updated_at":"2018-03-06 19:17:38","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/rt-podcast"},"season":{"title":"2017","description":"","id":482,"number":2017,"slug":"rt-podcast-2017","show":{"name":"Rooster
        Teeth Podcast","summary":{"html":"<p>On a more or less weekly basis the Rooster
        Teeth crew discuss gaming, films, and projects that they''re currently working
        on.<\/p>","clean":"On a more or less weekly basis the Rooster Teeth crew discuss
        gaming, films, and projects that they''re currently working on."},"id":71,"slug":"rt-podcast","seasonCount":11,"coverPictur[...]
