interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer efM5pUzh3C4NAbvgcnJvggtljIFrhtrvU6hTVjAX]
    method: GET
    uri: https://roosterteeth.com/api/v1/users/442
  response:
    body: {string: '{"username":"hobbie","displayTitle":"sup, yo","name":"A","sex":"m","location":"The
        Bayou","occupation":"numbers","about":{"html":"<p>HOBBIE NEVER LEAVES, he
        just stops posting<br \/><\/p>","clean":"HOBBIE NEVER LEAVES, he just stops
        posting"},"id":442,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/57471ae3-ef5a-417f-9f48-8a82771a093c\/tb\/hobbie423534014eeb7.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/57471ae3-ef5a-417f-9f48-8a82771a093c\/sm\/hobbie423534014eeb7.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/57471ae3-ef5a-417f-9f48-8a82771a093c\/md\/hobbie423534014eeb7.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/57471ae3-ef5a-417f-9f48-8a82771a093c\/original\/hobbie423534014eeb7.jpg"}},"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/485d4de6-d1d0-43ab-bdc6-4366d054116e\/tb\/hobbie441e28cdcca83.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/485d4de6-d1d0-43ab-bdc6-4366d054116e\/sm\/hobbie441e28cdcca83.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/485d4de6-d1d0-43ab-bdc6-4366d054116e\/md\/hobbie441e28cdcca83.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/485d4de6-d1d0-43ab-bdc6-4366d054116e\/original\/hobbie441e28cdcca83.jpg"}},"sponsor":true,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/hobbie","hasUsedTrial":false}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/442]
    status: {code: 200, message: OK}
version: 1
