interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer W5XHP3xT7y4EdsX05hjc0Wz3syoJaV9tAjS2PLiV]
    method: GET
    uri: https://roosterteeth.com/api/v1/feed/?page=1&count=20&type=Episode&site=funhaus
  response:
    body: {string: '[{"type":"Episode","item":{"title":"The Pilgrim''s Progress Gameplay","caption":"","sponsorOnly":true,"description":{"html":"<p>Religion''s
        the name of the game, so get ready for the headiest of Fullhauses!<\/p>","clean":"Religion''s
        the name of the game, so get ready for the headiest of Fullhauses!"},"slug":"fullhaus-2018-the-pilgrim-s-progress-gameplay","site":"funhaus","id":37686,"number":50,"length":3656,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/c28a7f14-5745-4622-a74b-1c7f2e96729e.jpg\/tb\/fullhauspilgrims.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/c28a7f14-5745-4622-a74b-1c7f2e96729e.jpg\/sm\/fullhauspilgrims.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/c28a7f14-5745-4622-a74b-1c7f2e96729e.jpg\/md\/fullhauspilgrims.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/c28a7f14-5745-4622-a74b-1c7f2e96729e.jpg\/original\/fullhauspilgrims.jpg"}},"show":{"name":"Fullhaus","summary":{"html":"<p>For
        some reason, you asked for it. For some reason we delivered it. Here are our
        full, unedited gameplays, so you can see how unfunny we are without clever
        editing tricks and cheapo animation!<\/p>","clean":"For some reason, you asked
        for it. For some reason we delivered it. Here are our full, unedited gameplays,
        so you can see how unfunny we are without clever editing tricks and cheapo
        animation!"},"id":253,"slug":"fullhaus","seasonCount":3,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/3e4b9f44-9a3f-42d3-b6c4-4c9b87b2525f\/tb\/1788484-1456786778305-Fullhaus_Hero.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/3e4b9f44-9a3f-42d3-b6c4-4c9b87b2525f\/sm\/1788484-1456786778305-Fullhaus_Hero.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/3e4b9f44-9a3f-42d3-b6c4-4c9b87b2525f\/md\/1788484-1456786778305-Fullhaus_Hero.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/3e4b9f44-9a3f-42d3-b6c4-4c9b87b2525f\/original\/1788484-1456786778305-Fullhaus_Hero.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/1df6e2b5-326c-4b3c-a157-ece68e75f642.jpg\/tb\/FullhausSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/1df6e2b5-326c-4b3c-a157-ece68e75f642.jpg\/sm\/FullhausSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/1df6e2b5-326c-4b3c-a157-ece68e75f642.jpg\/md\/FullhausSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/1df6e2b5-326c-4b3c-a157-ece68e75f642.jpg\/original\/FullhausSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/fullhaus"},"season":{"title":"2018","description":"","id":645,"number":3,"slug":"fullhaus-2018","show":{"name":"Fullhaus","summary":{"html":"<p>For
        some reason, you asked for it. For some reason we delivered it. Here are our
        full, unedited gameplays, so you can see how unfunny we are without clever
        editing tricks and cheapo animation!<\/p>","clean":"For some reason, you asked
        for it. For some reason we delivered it. Here are our full, unedited gameplays,
        so you can see how un[...]
