interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer yQkVAVWQSpFQTQvdI0E9hTAay7Q1y5d7T0bhfET8]
    method: GET
    uri: https://roosterteeth.com/api/v1/episodes/20433
  response:
    body: {string: '{"title":"Episode 6: It''s a Crazy Mad World","caption":"With
        his new partner in crime Mogar alongside him, The Mad King stages a coup to
        get back what was once his, while X-Ray and Vav stumble on to his plot.","sponsorOnly":false,"description":{"html":"<p>With
        his new partner in crime Mogar alongside him, The Mad King stages a coup to
        get back what was once his, while X-Ray and Vav stumble on to his plot.<\/p>","clean":"With
        his new partner in crime Mogar alongside him, The Mad King stages a coup to
        get back what was once his, while X-Ray and Vav stumble on to his plot."},"slug":"x-ray-and-vav-season-2-episode-6-it-s-a-crazy-mad-world","site":"roosterTeeth","id":20433,"number":6,"length":522,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/32f4f64e-01ba-4d2e-8f40-f791df560339\/tb\/2013912-1442614348809-xv2_ep6_thumbnail.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/32f4f64e-01ba-4d2e-8f40-f791df560339\/sm\/2013912-1442614348809-xv2_ep6_thumbnail.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/32f4f64e-01ba-4d2e-8f40-f791df560339\/md\/2013912-1442614348809-xv2_ep6_thumbnail.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/32f4f64e-01ba-4d2e-8f40-f791df560339\/original\/2013912-1442614348809-xv2_ep6_thumbnail.jpg"}},"show":{"name":"X-Ray
        and Vav","summary":{"html":"<p>X-Ray and Vav want to be the greatest super
        heroes ever, but they''re the last people you''d want to be saved by. Despite
        their lack of superhero prowess, the duo is ready to take on any thug, robber
        or villain who stands in the way of justice. And they''ll do it in true X-Ray
        and Vav fashion; crotch touching and creating chaos to save the day (for the
        most part)!<\/p>","clean":"X-Ray and Vav want to be the greatest super heroes
        ever, but they''re the last people you''d want to be saved by. Despite their
        lack of superhero prowess, the duo is ready to take on any thug, robber or
        villain who stands in the way of justice. And they''ll do it in true X-Ray
        and Vav fashion; crotch touching and creating chaos to save the day (for the
        most part)!"},"id":54,"slug":"x-ray-and-vav","seasonCount":2,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/4f5721e2-8525-4ca5-b3c0-8fb0954e86ae\/tb\/984097-1435869288841-XrayandVav_hero.png","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/4f5721e2-8525-4ca5-b3c0-8fb0954e86ae\/sm\/984097-1435869288841-XrayandVav_hero.png","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/4f5721e2-8525-4ca5-b3c0-8fb0954e86ae\/md\/984097-1435869288841-XrayandVav_hero.png","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/4f5721e2-8525-4ca5-b3c0-8fb0954e86ae\/original\/984097-1435869288841-XrayandVav_hero.png"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/cd73ff68-672f-4eeb-a2a3-edae365a5718.jpg\/tb\/XRayAndVavSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/cd73ff68-672f-4eeb-a2a3-edae365a5718.jpg\/sm\/XRayAndVavSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/cd73ff68-672f-4eeb-a2a3-edae365a5718.jpg\/md\/XRayAndVavSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/cd73ff68-672f-4eeb-a2a3-edae365a5718.jpg\/original\/XRayAndVavSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/x-ray-and-vav"},"season":{"title":"Season
        2","description":"","id":94,"number":2,"slug":"x-ray-and-vav-season-2","show":{"name":"X-Ray
        and Vav","summary":{"html":"<p>X-Ray and Vav want to be the greatest super
        heroes ever, but they''re the last people you''d want to be saved by. Despite
        their lack of superhero prowess, the duo is ready to take on any thug, robber
        or villain who stands in the way of justice. And they''ll do it in true X-Ray
        and Vav fashion; crotch touching [...]
- request:
    body: null
    headers:
      Authorization: [Bearer yQkVAVWQSpFQTQvdI0E9hTAay7Q1y5d7T0bhfET8]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/94
  response:
    body: {string: '{"title":"Season 2","description":"","id":94,"number":2,"slug":"x-ray-and-vav-season-2","show":{"name":"X-Ray
        and Vav","summary":{"html":"<p>X-Ray and Vav want to be the greatest super
        heroes ever, but they''re the last people you''d want to be saved by. Despite
        the[...]
[...]
