interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer JVqQe00jFs9giHS3Vzkn49PgfsypWNo07DKzCnL2]
    method: GET
    uri: https://roosterteeth.com/api/v1/feed/?page=1&count=3&type=Episode
  response:
    body: {string: '[{"type":"Episode","item":{"title":"The E3 2017 Report Card!","caption":"","sponsorOnly":false,"description":{"html":"","clean":""},"slug":"game-news-2018-the-e3-2017-report-card","site":"theKnow","id":37690,"number":150,"length":0,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/fa0d8069-dc74-4402-8f89-395f6360313d.jpg\/tb\/thumbnailtemplate.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/fa0d8069-dc74-4402-8f89-395f6360313d.jpg\/sm\/thumbnailtemplate.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/fa0d8069-dc74-4402-8f89-395f6360313d.jpg\/md\/thumbnailtemplate.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/fa0d8069-dc74-4402-8f89-395f6360313d.jpg\/original\/thumbnailtemplate.jpg"}},"show":{"name":"Game
        News","summary":{"html":"<p>The Rooster Teeth crew brings you the biggest
        news in video games.<\/p>","clean":"The Rooster Teeth crew brings you the
        biggest news in video games."},"id":77,"slug":"game-news","seasonCount":4,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/f19e256c-736c-445f-aee8-30c3cb667358\/tb\/24363-1474392969521-Game_News_-_Background.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/f19e256c-736c-445f-aee8-30c3cb667358\/sm\/24363-1474392969521-Game_News_-_Background.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/f19e256c-736c-445f-aee8-30c3cb667358\/md\/24363-1474392969521-Game_News_-_Background.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/f19e256c-736c-445f-aee8-30c3cb667358\/original\/24363-1474392969521-Game_News_-_Background.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/a0c62e30-78b9-4e4e-8ab2-42ad29296eb3.jpg\/tb\/GameNewsSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/a0c62e30-78b9-4e4e-8ab2-42ad29296eb3.jpg\/sm\/GameNewsSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/a0c62e30-78b9-4e4e-8ab2-42ad29296eb3.jpg\/md\/GameNewsSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/a0c62e30-78b9-4e4e-8ab2-42ad29296eb3.jpg\/original\/GameNewsSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/game-news"},"season":{"title":"2018","description":"","id":641,"number":4,"slug":"game-news-2018","show":{"name":"Game
        News","summary":{"html":"<p>The Rooster Teeth crew brings you the biggest
        news in video games.<\/p>","clean":"The Rooster Teeth crew brings you the
        biggest news in video games."},"id":77,"slug":"game-news","seasonCount":4,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/f19e256c-736c-445f-aee8-30c3cb667358\/tb[...]
[...]
