interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer iNfiRjffvbpumOQcqzxF1axSliUvba8hZLhn07H1]
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/?page=2&count=20
  response:
    body: {string: '[{"name":"RT Shorts","summary":{"html":"<p>It''s here.<\/p>","clean":"It''s
        here."},"id":61,"slug":"rt-shorts","seasonCount":7,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/3bc66285-12fb-4156-987e-61140425a822.jpg\/tb\/RTShortsHero1.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/3bc66285-12fb-4156-987e-61140425a822.jpg\/sm\/RTShortsHero1.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/3bc66285-12fb-4156-987e-61140425a822.jpg\/md\/RTShortsHero1.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/3bc66285-12fb-4156-987e-61140425a822.jpg\/original\/RTShortsHero1.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5a45481d-3bf1-4d00-ab22-5807f332a4bc.jpg\/tb\/RTShortsSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5a45481d-3bf1-4d00-ab22-5807f332a4bc.jpg\/sm\/RTShortsSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5a45481d-3bf1-4d00-ab22-5807f332a4bc.jpg\/md\/RTShortsSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5a45481d-3bf1-4d00-ab22-5807f332a4bc.jpg\/original\/RTShortsSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/rt-shorts"},{"name":"Fan
        Service","summary":{"html":"<p>Gray Haddock, Kerry Shawcross, Miles Luna,
        and their friends discuss the latest news, trailers, and episodes from the
        world of Anime.<\/p>","clean":"Gray Haddock, Kerry Shawcross, Miles Luna,
        and their friends discuss the latest news, trailers, and episodes from the
        world of Anime."},"id":251,"slug":"fan-service","seasonCount":3,"coverPicture":{"type":"picture","cont[...]
[...]
