interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer vnWN5dIK49TpMWuZ7ar8WtteWtc9F0P2IRGSUDlm]
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/?page=1&count=5
  response:
    body: {string: '[{"name":"RWBY","summary":{"html":"<p>The future-fantasy world
        of Remnant is filled with ravenous monsters, treacherous terrain, and more
        villains than you can shake a sniper-scythe at. Fortunately, Beacon Academy
        is training Huntsmen and Huntresses to battle the evils of the world, and
        Ruby, Weiss, Blake, and Yang are ready for their first day of class.<\/p>","clean":"The
        future-fantasy world of Remnant is filled with ravenous monsters, treacherous
        terrain, and more villains than you can shake a sniper-scythe at. Fortunately,
        Beacon Academy is training Huntsmen and Huntresses to battle the evils of
        the world, and Ruby, Weiss, Blake, and Yang are ready for their first day
        of class."},"id":34,"slug":"rwby","seasonCount":5,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5d0fde54-9506-4477-b9b4-8ddb82a847f3.jpg\/tb\/RWBY_v5_page_banner_master_updated.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5d0fde54-9506-4477-b9b4-8ddb82a847f3.jpg\/sm\/RWBY_v5_page_banner_master_updated.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5d0fde54-9506-4477-b9b4-8ddb82a847f3.jpg\/md\/RWBY_v5_page_banner_master_updated.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5d0fde54-9506-4477-b9b4-8ddb82a847f3.jpg\/original\/RWBY_v5_page_banner_master_updated.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/b45d3df9-52fa-4cbe-be30-0d76756b66d1.jpg\/tb\/RWBYSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/b45d3df9-52fa-4cbe-be30-0d76756b66d1.jpg\/sm\/RWBYSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/b45d3df9-52fa-4cbe-be30-0d76756b66d1.jpg\/md\/RWBYSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/b45d3df9-52fa-4cbe-be30-0d76756b66d1.jpg\/original\/RWBYSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/rwby"},{"name":"Red
        vs. Blue","summary":{"html":"<p>In the distant future, two groups of soldiers
        battle for control of the least desirable piece of real estate in the known
        universe: a box canyon in the middle of nowhere.<\/p>","clean":"In the distant
        future, two groups of soldiers battle for control of the least desirable piece
        of real estate in the known universe: a box canyon in the middle of nowhere."},"id":1,"slug":"red-vs-blue","seasonCount":16,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5b3d891c-48f4-4cc8-ae02-fa1aadd1e075.jpg\/tb\/rvb_season16_hero.jpg","sm":"http:\/\/s3.amazona[...]
[...]
