interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer NxoIGHNVFhtDJvq6Hrp8nj1rpmk638LjWUJzKRvb]
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/?page=1&count=20&site=funhaus
  response:
    body: {string: '[{"name":"Demo Disk","summary":{"html":"<p>After a fan sent us
        a binder of PC Gamer demo discs of games, we knew what we had to do: play
        them all, no matter how terrible. Demo Disk showcases 1990s to early 2000s-era
        games, with running commentary and jokes.<\/p>","clean":"After a fan sent
        us a binder of PC Gamer demo discs of games, we knew what we had to do: play
        them all, no matter how terrible. Demo Disk showcases 1990s to early 2000s-era
        games, with running commentary and jokes."},"id":66,"slug":"demo-disk","seasonCount":4,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/a2ad943a-63ef-4e72-a2e2-21dc96125da0.png\/tb\/demo_disc_cover.png","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/a2ad943a-63ef-4e72-a2e2-21dc96125da0.png\/sm\/demo_disc_cover.png","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/a2ad943a-63ef-4e72-a2e2-21dc96125da0.png\/md\/demo_disc_cover.png","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/a2ad943a-63ef-4e72-a2e2-21dc96125da0.png\/original\/demo_disc_cover.png"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/f23a7866-e959-459d-bc7f-fb9d8587bcd2.jpg\/tb\/DemoDiskSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/f23a7866-e959-459d-bc7f-fb9d8587bcd2.jpg\/sm\/DemoDiskSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/f23a7866-e959-459d-bc7f-fb9d8587bcd2.jpg\/md\/DemoDiskSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/f23a7866-e959-459d-bc7f-fb9d8587bcd2.jpg\/original\/DemoDiskSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/demo-disk"},{"name":"Twits
        and Crits","summary":{"html":"<p>Follow the Twits through the first three
        seasons as they save the world from a monstrous invasion.<\/p>","clean":"Follow
        the Twits through the first three seasons as they save the world from a monstrous
        invasion."},"id":271,"slug":"twits-crits","seasonCount":3,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/imag[...]
- request:
    body: null
    headers:
      Authorization: [Bearer NxoIGHNVFhtDJvq6Hrp8nj1rpmk638LjWUJzKRvb]
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/66/seasons/
  response:
    body: {string: '[{"title":"2018","description":"","id":728,"number":4,"slug":"demo-disk-2018","show":{"name":"Demo
        Disk","summary":{"html":"<p>After a fan sent us a binder of PC Gamer demo
        discs of games, we knew what we had to do: play them all, no matter how terrible.
        Demo Disk showcases 1990s to early 2000s-era games, with running commentary
        and jokes.<\/p>","clean":"After a fan sent us a binder of PC Gamer demo discs
        of games, we knew what we had to do: play them all, no matter how terrible.
        Demo Disk showcases 1990s to early 2000s-era games, [...]
- request:
    body: null
    headers:
      Authorization: [Bearer NxoIGHNVFhtDJvq6Hrp8nj1rpmk638LjWUJzKRvb]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/728/episodes?page=1&count=20
  response:
    body: {string: '[{"title":"GUNGAN STYLE - Demo Disk Gameplay","caption":"\"C''monnnn
        nipples!\"","sponsorOnly":false,"description":{"html":"<p>Jacob and I had
        our first fight today. I claimed that Boss Nass was a different species than
        the rest of the Gungans due to his widened jawline and lack of protruding
        eye stalks. Jacob insisted that they are all clearly the same species and
        that Nass''s unique morphology was simply due to weight gained from a lifetime
        of opulence and leisure. Finally, we compromised by having Omar and Dan beat
        the christ out of us wi[...]
- request:
    body: null
    headers:
      Authorization: [Bearer NxoIGHNVFhtDJvq6Hrp8nj1rpmk638LjWUJzKRvb]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/728/episodes?page=2&count=20
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      X-Total-Count: ['2']
      X-request-uri: ['/api/v1/seasons/728/episodes?page=2&count=20']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Authorization: [Bearer NxoIGHNVFhtDJvq6Hrp8nj1rpmk638LjWUJzKRvb]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/543/episodes?page=1&count=20
  response:
    body: {string: '[{"title":"Funhaus Dungeons and Dragons - Ep. 31 Seasons 1-3 Finale","caption":"So
        it ends... for now.","sponsorOnly":true,"description":{"html":"<p>This is
        it! The stunning conclusion to our heroes'' first adventure, in which they
        engage in fisticuffs with an angry Sea-squatch, a fiery quest is undertaken,
        a familiar face from the past returns with violent intent, and Racsan''s brain
        gets damaged. Well... more damaged.<\/p>\n\n<p><br \/><\/p>\n\n\n\n<p>Thanks
        to\u00a0Daniel Gerstner for the fan-made intro! (<a href=\"https:\/\/twitter.com\/danger_street\">@Danger_Street<\/a>,\u00a0<a
        href=\"https:\/\/dangerst.artstation.com\/\">https:\/\/dangerst.artstation.com\/<\/a>)<\/p>\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n<p>http:\/\/twitter.com\/adamkovic<br \/>http:\/\/twitter.com\/brucegreene<br
        \/>http:\/\/twitter.com\/jameswillems<br \/>http:\/\/twitter.com\/elysewillems<br
        \/>http:\/\/twitter.com\/sirlarr<br \/>http:\/\/twitter.com\/mattseditbay<br
        \/>https:\/\/twitter.com\/filmDstryr<\/p>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<p>Tshirts n stuff:<a href=\"https:\/\/store.roosterteeth.com\/\">
        https:\/\/store.roosterteeth.com\/<br \/><br \/><\/a><\/p>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<p><a
        href=\"https:\/\/store.roosterteeth.com\/\">Buy<\/a> the Twits &amp; Crits
        Poster:<a href=\"https:\/\/store.roosterteeth.com\/products\/funhaus-twits-crits-poster-18-x-24\">
        https:\/\/store.roosterteeth.com\/products\/funhaus-twits-crits-poster-18-x-24<\/a><\/p>","clean":"This
        is it! The stunning conclusion to our heroes'' first adventure, in which they
        engage in fisticuffs with an angry Sea-squatch, a fiery quest is undertaken,
        a familiar face from the past returns with violent intent, and Racsan''s brain
        gets damaged. Well... more damaged.\n\n\n\n\n\nThanks to\u00a0Daniel Gerstner
        for the fan-made intro! (@Danger_Street,\u00a0https:\/\/dangerst.artstation.com\/)\n\n\n\n\n\n\n\n\n\nhttp:\/\/twitter.com\/adamkovichttp:\/\/twitter.com\/brucegreenehttp:\/\/twitter.com\/jameswillemshttp:\/\/twitter.com\/elysewillemshttp:\/\/twitter.com\/sirlarrhttp:\/\/twitter.com\/mattseditbayhttps:\/\/twitter.com\/filmDstryr\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nTshirts
        n stuff: https:\/\/store.roosterteeth.com\/\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nBuy
        the Twits &amp; Crits Poster: https:\/\/store.roosterteeth.com\/products\/funhaus-twits-crits-poster-18-x-24"},"slug":"twits-crits-season-3-finale","site":"funhaus","id":34246,"number":31,"length":6851,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/7d69efc4-375c-4a99-907e-13d7afccee45\/tb\/2371242-1505325231233-Twits_and_Crits_Logo_finale.png","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/7d69efc4-375c-4a99-907e-13d7afccee45\/sm\/2371242-1505325231233-Twits_and_Crits_Logo_finale.png","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/7d69efc4-375c-4a99-907e-13d7afccee45\/m[...]
[...]
- request:
    body: null
    headers:
      Authorization: [Bearer NxoIGHNVFhtDJvq6Hrp8nj1rpmk638LjWUJzKRvb]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/662/episodes?page=2&count=20
  response:
    body: {string: '[{"title":"GET LAID... THE RIGHT WAY? - Dude Soup Podcast #157","caption":"\"Jesus
        hates puberty?\"","sponsorOnly":false,"description":{"html":"<p>[Dollar Shave
        Club] Get the Dollar Shave Club Starter Kit for only $5 at http:\/\/www.dollarshaveclub.com\/dude\n[Casper]
        Get $50 towards select mattresses at http:\/\/www.casper.com\/dudesoup and
        use code \"dudesoup\" at checkout<\/p>\n\n<p>This week, the boys get real
        dirty and dish all about relationships in a way that only three white dudes
        and one Cuban can:\n2:10 - Earliest dating experiences.\n12:00 - Dating complications
        today.\n21:10 - Difficulties in breaking out of your comfort zone.\n32:40
        - How men often mess up and push women away.\n44:25 - The importance of communication,
        especially regarding sex.\n52:00 - What the Aziz article made us question
        about our own previous actions.\n1:11:55 - Hard Nettin''.<\/p>\n\n<p>Come
        see us LIVE at the Regent Theater in Downtown LA on January 18!\nShow information
        here: https:\/\/www.spacelandpresents.com\/event\/1614612\nTickets here: https:\/\/www.ticketfly.com\/purchase\/event\/1614612?utm_medium=bks<\/p>\n\n<p>Want
        more Dude Soup? Check out the Post Show: http:\/\/funhaus.roosterteeth.com\/show\/fan-show<\/p>\n\n<p>Buy
        merch! http:\/\/bit.ly\/fhmerch  <\/p>\n\n<p>SOURCES:\n[Babe] I went on a
        date with Aziz Ansari. It turned into the worst night of my life - https:\/\/babe.net\/2018\/01\/13\/aziz-ansari-28355<\/p>\n\n<p>HARD
        NETTIN''\nCat Piano Classics: https:\/\/www.youtube.com\/user\/LARUCUS\nG
        Jonce: https:\/\/www.youtube.com\/user\/fashowithit\/<\/p>\n\n<p>Follow us
        on Twitter: \nhttp:\/\/twitter.com\/adamkovic\nhttp:\/\/twitter.com\/jameswillems\nhttp:\/\/twitter.com\/sirlarr\nhttp:\/\/twitter.com\/omarcito<\/p>\n\n<p>Tshirts
        n stuff: https:\/\/store.roosterteeth.com\/<\/p>","clean":"[Dollar Shave Club]
        Get the Dollar Shave Club Starter Kit for only $5 at http:\/\/www.dollarshaveclub.com\/dude\n[Casper]
        Get $50 towards select mattresses at http:\/\/www.casp[...]
[...]
