interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer opiChTZ2qbZKpM50USyD1bcnyyerF5Pob5nuMZS4]
    method: GET
    uri: https://roosterteeth.com/api/v1/episodes/50
  response:
    body: {string: '{"title":"Episode 35: What''s Mine is Yours","caption":"What''s
        Mine is Yours","sponsorOnly":false,"description":{"html":"<p>Simmons and Grif
        bicker over surgery while Sarge discloses that Lopez is hiding secret plans.<\/p>","clean":"Simmons
        and Grif bicker over surgery while Sarge discloses that Lopez is hiding secret
        plans."},"slug":"red-vs-blue-season-2-episode-35","site":"roosterTeeth","id":50,"number":17,"length":280,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/b877be1c-ecce-45b5-ba3e-d203697699d7\/tb\/ep50.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/b877be1c-ecce-45b5-ba3e-d203697699d7\/sm\/ep50.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/b877be1c-ecce-45b5-ba3e-d203697699d7\/md\/ep50.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/b877be1c-ecce-45b5-ba3e-d203697699d7\/original\/ep50.jpg"}},"show":{"name":"Red
        vs. Blue","summary":{"html":"<p>In the distant future, two groups of soldiers
        battle for control of the least desirable piece of real estate in the known
        universe: a box canyon in the middle of nowhere.<\/p>","clean":"In the distant
        future, two groups of soldiers battle for control of the least desirable piece
        of real estate in the known universe: a box canyon in the middle of nowhere."},"id":1,"slug":"red-vs-blue","seasonCount":16,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5b3d891c-48f4-4cc8-ae02-fa1aadd1e075.jpg\/tb\/rvb_season16_hero.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5b3d891c-48f4-4cc8-ae02-fa1aadd1e075.jpg\/sm\/rvb_season16_hero.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5b3d891c-48f4-4cc8-ae02-fa1aadd1e075.jpg\/md\/rvb_season16_hero.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/5b3d891c-48f4-4cc8-ae02-fa1aadd1e075.jpg\/original\/rvb_season16_hero.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/9a888611-5b17-49ab-ad49-ca0ad6a86ee1\/tb\/rvb600.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/9a888611-5b17-49ab-ad49-ca0ad6a86ee1\/sm\/rvb600.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/9a888611-5b17-49ab-ad49-ca0ad6a86ee1\/md\/rvb600.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/9a888611-5b17-49ab-ad49-ca0ad6a86ee1\/original\/rvb600.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/red-vs-blue"},"season":{"title":"Season
        2","description":"","id":2,"number":2,"slug":"red-vs-blue-season-2","show":{"name":"Red
        vs. Blue","summary":{"html":"<p>In the distant future, two groups of soldiers
        battle for control of the least desirable piece of real estate in the known
        universe: a box canyon in the middle of nowhere.<\/p>","clean":"In the distant
        future, two groups of soldiers battle for control of the least desirable piece
        of real estate in the known univers[...]
- request:
    body: null
    headers:
      Authorization: [Bearer opiChTZ2qbZKpM50USyD1bcnyyerF5Pob5nuMZS4]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/50
  response:
    body: {string: '{"title":"Season 1","description":"","id":50,"number":1,"slug":"quick-bits-season-1","show":{"name":"Quick
        Bits","summary":{"html":"<p>Think of it as baby Let''s Play!<\/p>","clean":"Think
        of it as baby Let''s Play!"},"id":31,"slug":"quick-bits","seasonCount":1,"coverPictur[...]
- request:
    body: null
    headers:
      Authorization: [Bearer opiChTZ2qbZKpM50USyD1bcnyyerF5Pob5nuMZS4]
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/50
  response:
    body: {string: '{"name":"Social Disorder","summary":{"html":"<p>Chris and Aaron
        create elaborate social experiments and pranks in order to compete against
        each other for points. Whoever completes the objective for the experiment
        \u2013 or gets the most points for creativity, absurdit[...]
- request:
    body: null
    headers:
      Authorization: [Bearer opiChTZ2qbZKpM50USyD1bcnyyerF5Pob5nuMZS4]
    method: GET
    uri: https://roosterteeth.com/api/v1/users/50
  response:
    body: {string: '{"username":"Turiya","displayTitle":"","name":"Jon","sex":"m","location":"Lewisville,
        TX","occupation":"System Center Engineer, Presidio","about":{"html":"<p><img
        width=\"460\" height=\"50\" src=\"http:\/\/www.sloganizer.net\/en\/style3,Turiya.png\"
        alt=\"style3,Turiya.png\" \/><\/p>","clean":""},"id":50,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/735a195d-5f4e-4bff-bd87-b1c9e0de99fe\/tb\/Turiya4235332738efc.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/735a195d-5f4e-4bff-bd87-b1c9e0de99fe\/sm\/Turiya4235332738efc.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/735a195d-5f4e-4bff-bd87-b1c9e0de99fe\/md\/Turiya4235332738efc.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/735a195d-5f4e-4bff-bd87-b1c9e0de99fe\/original\/Turiya4235332738efc.jpg"}},"sponsor":false,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/Turiya","hasUsedTrial":false}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/50]
    status: {code: 200, message: OK}
version: 1
