interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer IHxNdGkj3Yvs6ed9tWAPVoTVqH6ZnVxLm78QASdi]
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2044162
  response:
    body: {string: '{"username":"xxChinasaurxx","displayTitle":"George","name":"NewName","sex":"p","location":"Asdasdasd","occupation":"param4","about":{"html":"","clean":""},"id":2044162,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/user_profile_female.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/user_profile_female.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/user_profile_female.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/user_profile_female.jpg"}},"sponsor":true,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/xxChinasaurxx","hasUsedTrial":true}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/2044162]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer IHxNdGkj3Yvs6ed9tWAPVoTVqH6ZnVxLm78QASdi]
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2044162/queue?page=1&count=20
  response:
    body: {string: '[{"title":"Pi Day with the Cast of Crunch Time \u2013 #51","caption":"Meg
        forgot to submit an Internet Show and Tell video and someone in Ryan\u2019s
        home had a little accident. Plus, Meg sits down with the cast of the new Rooster
        Teeth show Crunch Time. Finally, Crunch Time star Nick Rutherford stops by
        to test his math skills","sponsorOnly":false,"description":{"html":"<p>It\u2019s
        Wednesday, my dudes. Meg forgot to submit an Internet Show and Tell video
        and someone in Ryan\u2019s home had a little accident. Plus, Meg sits down
        with the cast of the new Rooster Teeth show Crunch Time. Finally, Crunch Time
        star Nick Rutherford stops by to test his math skills along with the rest
        of the Free Play gang. <\/p>","clean":"It\u2019s Wednesday, my dudes. Meg
        forgot to submit an Internet Show and Tell video and someone in Ryan\u2019s
        home had a little accident. Plus, Meg sits down with the cast of the new Rooster
        Teeth show Crunch Time. Finally, Crunch Time star Nick Rutherford stops by
        to test his math skills along with the rest of the Free Play gang. "},"slug":"free-play-season-2-51","site":"roosterTeeth","id":26008,"number":51,"length":1722,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/41bcb52d-18ee-4caa-a436-7321c48ef167\/tb\/2013912-1458149455854-fp51_-_THUMB_v2.png","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/41bcb52d-18ee-4caa-a436-7321c48ef167\/sm\/2013912-1458149455854-fp51_-_THUMB_v2.png","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/41bcb52d-18ee-4caa-a436-7321c48ef167\/md\/2013912-1458149455854-fp51_-_THUMB_v2.png","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/41bcb52d-18ee-4caa-a436-7321c48ef167\/original\/2013912-1458149455854-fp51_-_THUMB_v2.png"}},"show":{"name":"Free
        Play","summary":{"html":"<p>Meg Turney and Ryan Haywood bring you a fun dose
        of outrageous Internet videos, gaming news, and zany challenges.  Plus, interviews
        and exclusive clips from Rooster Teeth''s latest projects.<\/p>","clean":"Meg
        Turney and Ryan Haywood bring you a fun dose of outrageous Internet videos,
        gaming news, and zany challenges.  Plus, interviews and exclusive clips from
        Rooster Teeth''s latest projects."},"id":82,"slug":"free-play","seasonCount":2,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/generic_rt_cover.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/generic_rt_cover.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/generic_rt_cover.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/generic_rt_cover.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/c002bbb5-d235-4407-9991-9af51f9422cb.jpg\/tb\/FreePlaySquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/c002bbb5-d235-4407-9991-9af51f9422cb.jpg\/sm\/FreePlaySquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/c002bbb5-d235-4407-9991-9af51f9422cb.jpg\/md\/FreePlaySquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/c002bbb5-d235-4407-9991-9af51f9422cb.jpg\/original\/FreePlaySquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/free-play"},"season":{"title":"Season
        2","description":"","id":367,"number":2,"slug":"free-play-season-2","show":{"name":"Free
        Play","summary":{"html":"<p>Meg Turney and Ryan Haywood bring you a fun dose
        of outrageous Internet videos, gaming news, and zany challenges.  Plus, interviews
        and exclusive clips from Rooster Teeth''s latest projects.<\/p>","clean":"Meg
        Turney and Ryan Haywood bring you a fun dose of outrageous Internet videos,
        gaming news, and zany challenges[...]
- request:
    body: null
    headers:
      Authorization: [Bearer IHxNdGkj3Yvs6ed9tWAPVoTVqH6ZnVxLm78QASdi]
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2044162/queue?page=2&count=20
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      X-Total-Count: ['7']
      X-request-uri: ['/api/v1/users/2044162/queue?page=2&count=20']
    status: {code: 200, message: OK}
version: 1
