interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer uhFqUIxG93zgtK4uu6T8HvNIzOZuJAuYQS2jgbMa]
    method: GET
    uri: https://roosterteeth.com/api/v1/search/?q=stuff
  response:
    body: {string: '[{"episodes":[{"title":"The Good Stuff Guide","caption":"Far Cry
        3","sponsorOnly":false,"description":{"html":"<p>Ray and Geoff show you how
        to get the \"The Good Stuff\" achievement in Far Cry 3 for the Xbox 360.<\/p>","clean":"Ray
        and Geoff show you how to get the \"The Good Stuff\" achievement in Far Cry
        3 for the Xbox 360."},"slug":"achievement-unlocked-season-1-the-good-stuff-guide","site":"achievementHunter","id":6241,"number":1733,"length":78,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/75d411a6-47b6-4cc5-83a2-fb46cd1826a3\/tb\/ep6241.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/75d411a6-47b6-4cc5-83a2-fb46cd1826a3\/sm\/ep6241.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/75d411a6-47b6-4cc5-83a2-fb46cd1826a3\/md\/ep6241.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/75d411a6-47b6-4cc5-83a2-fb46cd1826a3\/original\/ep6241.jpg"}},"show":{"name":"Achievement
        Unlocked","summary":{"html":"<p>The Achievement Hunter Crew helps you get
        those achievements, one bleep bloop at a time.<\/p>","clean":"The Achievement
        Hunter Crew helps you get those achievements, one bleep bloop at a time."},"id":57,"slug":"achievement-unlocked","seasonCount":10,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/756549c5-a1f6-40b6-85df-74598a5f6250.jpg\/tb\/AchievementUnlockedHero3.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/756549c5-a1f6-40b6-85df-74598a5f6250.jpg\/sm\/AchievementUnlockedHero3.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/756549c5-a1f6-40b6-85df-74598a5f6250.jpg\/md\/AchievementUnlockedHero3.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/756549c5-a1f6-40b6-85df-74598a5f6250.jpg\/original\/AchievementUnlockedHero3.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/d7b03dfb-2c9c-4660-a1a8-1982e8d3b834.jpg\/tb\/AchievementUnlockedSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/d7b03dfb-2c9c-4660-a1a8-1982e8d3b834.jpg\/sm\/AchievementUnlockedSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/d7b03dfb-2c9c-4660-a1a8-1982e8d3b834.jpg\/md\/AchievementUnlockedSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/d7b03dfb-2c9c-4660-a1a8-1982e8d3b834.jpg\/original\/AchievementUnlockedSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/achievement-unlocked"},"season":{"title":"2012","description":"","id":249,"number":5,"slug":"achievement-unlocked-2012","show":{"name":"Achievement
        Unlocked","summary":{"html":"<p>The Achievement Hunter Crew helps you get
        those achievements, one bleep bloop at a time.<\/p>","clean":"The Achievement
        Hunter Crew helps you get those achievements, one bleep bloop at a time."},"id":57,"slug":"achievement-unlocked","seasonCount":10,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/r[...]
- request:
    body: null
    headers:
      Authorization: [Bearer uhFqUIxG93zgtK4uu6T8HvNIzOZuJAuYQS2jgbMa]
    method: GET
    uri: https://roosterteeth.com/api/v1/episodes/6241
  response:
    body: {string: '{"title":"The Good Stuff Guide","caption":"Far Cry 3","sponsorOnly":false,"description":{"html":"<p>Ray
        and Geoff show you how to get the \"The Good Stuff\" achievement in Far Cry
        3 for the Xbox 360.<\/p>","clean":"Ray and Geoff show you how to get the \"The
        Good[...]
[...]
- request:
    body: null
    headers:
      Authorization: [Bearer uhFqUIxG93zgtK4uu6T8HvNIzOZuJAuYQS2jgbMa]
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2490245
  response:
    body: {string: '{"username":"Stuff-n-things","displayTitle":null,"name":null,"sex":null,"location":null,"occupation":null,"about":{"html":"","clean":""},"id":2490245,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/user_profile_female.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/user_profile_female.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/user_profile_female.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/user_profile_female.jpg"}},"sponsor":false,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/Stuff-n-things","hasUsedTrial":false}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/2490245]
    status: {code: 200, message: OK}
[...]
