interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer M4oQ3S75ucv6NSHwU2a6FyxLOOkONIPVMFuDFHKv]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/500
  response:
    body: {string: '{"title":"2017","description":"","id":500,"number":3,"slug":"dude-soup-2017","show":{"name":"Dude
        Soup","summary":{"html":"<p>Jump in the Dude Soup -- all the gaming, nerd
        culture, and meat-packing industry commentary you can handle.<\/p>","clean":"Jump
        in the Dude Soup -- all the gaming, nerd culture, and meat-packing industry
        commentary you can handle."},"id":64,"slug":"dude-soup","seasonCount":4,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/aa9ce4c4-70aa-497f-aaa4-14bc6aa76a4f\/tb\/1788482-1483655574455-RT_Show_Hero_copy.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/aa9ce4c4-70aa-497f-aaa4-14bc6aa76a4f\/sm\/1788482-1483655574455-RT_Show_Hero_copy.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/aa9ce4c4-70aa-497f-aaa4-14bc6aa76a4f\/md\/1788482-1483655574455-RT_Show_Hero_copy.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/aa9ce4c4-70aa-497f-aaa4-14bc6aa76a4f\/original\/1788482-1483655574455-RT_Show_Hero_copy.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/9b296134-b3aa-4e01-9ffd-398f204664b5.jpg\/tb\/DudeSoupSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/9b296134-b3aa-4e01-9ffd-398f204664b5.jpg\/sm\/DudeSoupSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/9b296134-b3aa-4e01-9ffd-398f204664b5.jpg\/md\/DudeSoupSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/9b296134-b3aa-4e01-9ffd-398f204664b5.jpg\/original\/DudeSoupSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/dude-soup"}}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/seasons/500]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer M4oQ3S75ucv6NSHwU2a6FyxLOOkONIPVMFuDFHKv]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/500/episodes?page=1&count=20
  response:
    body: {string: '[{"title":"OUR DUMB FAMILY - Dude Soup Podcast #154","caption":"Welcome
        to the safe space.","sponsorOnly":false,"description":{"html":"<p>We''re mixing
        it up this week and giving you a brief look into the lives of our cast and
        crew. We hope you enjoy getting to know them a little bit better. From our
        family to yours, happy holidays and a wonderful new year!<\/p>\n\n<p>00:40
        - Bruce\n6:15 - James\n11:35 - Elyse\n18:00 - Jon\n23:35 - Bones\n29:05 -
        Adam\n34:45 - Dan\n40:10 - Jacob\n46:30 - Matt\n52:30 - Omar<\/p>\n\n<p>Come
        see us LIVE at the Regent Theater in Downtown LA on January 18!\nShow information
        here: https:\/\/www.spacelandpresents.com\/event\/1614612\nTickets here: https:\/\/www.ticketfly.com\/purchase\/event\/1614612?utm_medium=bks<\/p>\n\n<p>THUMBNAIL
        CREDIT: Thanks to \/u\/CynikSgt from reddit! https:\/\/www.reddit.com\/r\/funhaus\/comments\/5hvgyc\/fan_art_my_funhaus_family_sketch\/<\/p>\n\n<p>Follow
        us on Twitter: \nhttp:\/\/twitter.com\/adamkovic\nhttp:\/\/twitter.com\/brucegreene\nhttp:\/\/twitter.com\/jameswillems\nhttp:\/\/twitter.com\/sirlarr\nhttps:\/\/twitter.com\/ElyseWillems\nhttps:\/\/twitter.com\/MattsEditBay\nhttps:\/\/twitter.com\/jonsmiff\nhttps:\/\/twitter.com\/Omarcito\nhttps:\/\/twitter.com\/_JacobFullerton\nhttps:\/\/twi[...]
- request:
    body: null
    headers:
      Authorization: [Bearer M4oQ3S75ucv6NSHwU2a6FyxLOOkONIPVMFuDFHKv]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/500/episodes?page=2&count=20
  response:
    body: {string: '[{"title":"SONIC STILL GARBAGE? - Dude Soup Podcast #135","caption":"\"Why
        are you still explaining the plot of a porno film?\"","sponsorOnly":false,"description":{"html":"<p>Get
        your free Beach Body trial by texting \"Dude\" to 303030<br \/><br \/><\/p>\n\n<p>And
        get 20% off your Mack Weldon order by using code \"soup\"\u00a0<\/p>\n\n\n\n\n\n\n\n\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n\n\n\n\n\n\n<p>This week the boys celebrate the majesty
        of all things Sonic as well as:<br \/>9:30 - Lawrence''s hot new segment \"Thoughtables\"
        and talks about the power of nostalgia in media.<br \/>25:15 - Lazy filmaking
        just to make a buck.<br \/>36:30 - Bruce and Adam''s crazy drunken weekends.<br
        \/>54:50 - Exploitation movies.<br \/>61:25 - Hard Nettin''.\u00a0<\/p>\n\n\n\n\n\n\n\n\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n\n\n\n\n\n\n<p>Want more Dude Soup? Check out the Post
        Show:<a href=\"http:\/\/funhaus.roosterteeth.com\/show\/fan-show\"> http:\/\/funhaus.roosterteeth.com\/show\/fan-show<\/a><\/p>\n\n\n\n\n\n\n\n\n\n\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n\n\n\n\n\n\n<p><a href=\"http:\/\/funhaus.roosterteeth.com\/show\/fan-show\">HARD<\/a>
        NETTING:<br \/>Lizard Force:<a href=\"https:\/\/www.instagram.com\/lizard_force\/\">
        https:\/\/www.instagram.com\/lizard_force\/<\/a><\/p>\n\n\n\n\n\n\n\n\n\n\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n\n\n\n\n\n\n<p><a href=\"https:\/\/www.instagram.com\/lizard_force\/\">Follow<\/a>
        us on Twitter:\u00a0<br \/>&gt;http:\/\/twitter.com\/adamkovic<br \/>http:\/\/twitter.com\/brucegreene<br
        \/>http:\/\/twitter.com\/sirlarr<br \/>http:\/\/twitter.com\/omarcito<\/p>\n\n\n\n\n\n\n\n\n\n\n\n<p>Tshirts
        n stuff:<a href=\"https:\/\/store.roosterteeth.com\/\"> https:\/\/st[...]
- request:
    body: null
    headers:
      Authorization: [Bearer M4oQ3S75ucv6NSHwU2a6FyxLOOkONIPVMFuDFHKv]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/500/episodes?page=3&count=20
  response:
    body: {string: '[{"title":"YOUTUBE FUNDING TERRORISM? - Dude Soup Podcast #115","caption":"Now
        with more Lawrence getting thrown into boxes!","sponsorOnly":false,"description":{"html":"<p>Check
        out this week\u2019s Blue Apron menu and get your first three meals free \u2014
        with free shipping \u2014 by going to<a href=\"http:\/\/www.blueapron.com\/soup\">
        http:\/\/www.blueapron.com\/soup<\/a>\u00a0<\/p>\n\n<p>And to get $20 off
        your Black Tux purchase, visit<a href=\"http:\/\/www.theblacktux.com\/soup\">
        http:\/\/www.theblacktux.com\/soup<\/a><\/p>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n\n\n<p>This week the fellas and Elyse tackle YouTube''s
        new restricted mode as well as:<br \/>18:20 - YouTube advertisers potentially
        fleeing.<br \/>48:35 - Destiny 2 announcement.<br \/>50:00 - Larr in stunt
        school!<\/p>\n\n\n\n\n\n\n\n<p><br \/><\/p>\n\n\n\n\n\n\n\n<p>Follow us on
        Twitter:\u00a0<br \/>&gt;http:\/\/twitter.com\/adamkovic<br \/>http:\/\/twitter.com\/brucegreene<br
        \/>http:\/\/twitter.com\/jameswillems<br \/>http:\/\/twitter.com\/sirlarr<br
        \/>http:\/\/twitter.com\/elysewillems<\/p>\n\n\n\n\n\n\n\n<p>Tshirts n stuff:<a
        href=\"https:\/\/store.roosterteeth.com\/\"> https:\/\/store.roosterteeth.com\/<\/a><\/p>\n\n\n\n\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n\n\n<p><a href=\"http:\/\/www.theblacktux.com\/soup\">Want<\/a>
        more Dude Soup?[...]
- request:
    body: null
    headers:
      Authorization: [Bearer M4oQ3S75ucv6NSHwU2a6FyxLOOkONIPVMFuDFHKv]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/500/episodes?page=4&count=20
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      X-Total-Count: ['52']
      X-request-uri: ['/api/v1/seasons/500/episodes?page=4&count=20']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer M4oQ3S75ucv6NSHwU2a6FyxLOOkONIPVMFuDFHKv]
    method: GET
    uri: https://roosterteeth.com/api/v1/episodes/35560
  response:
    body: {string: '{"title":"OUR DUMB FAMILY - Dude Soup Podcast #154","caption":"Welcome
        to the safe space.","sponsorOnly":false,"description":{"html":"<p>We''re mixing
        it up this week and giving you a brief look into the lives of our cast and
        crew. We hope you enjoy getting to k[...]
