interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer SValFp80O3AePw4VdQido8MnihcrBE6ur0y2iswg]
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/52
  response:
    body: {string: '{"name":"Minimations","summary":{"html":"<p>Highlights from some
        of your favorite Let''s Plays, now 3D animated!<\/p>","clean":"Highlights
        from some of your favorite Let''s Plays, now 3D animated!"},"id":52,"slug":"minimations","seasonCount":2,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/generic_rt_cover.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/generic_rt_cover.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/generic_rt_cover.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/generic_rt_cover.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/e763407e-ad29-41cd-ae4e-533ab7085167.jpg\/tb\/MinimationsSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/e763407e-ad29-41cd-ae4e-533ab7085167.jpg\/sm\/MinimationsSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/e763407e-ad29-41cd-ae4e-533ab7085167.jpg\/md\/MinimationsSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/e763407e-ad29-41cd-ae4e-533ab7085167.jpg\/original\/MinimationsSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/minimations"}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/shows/52]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer SValFp80O3AePw4VdQido8MnihcrBE6ur0y2iswg]
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/52/seasons/
  response:
    body: {string: '[{"title":"Straight Outta RT","description":"","id":204,"number":2,"slug":"lets-play-minimations-straight-outta-rt","show":{"name":"Minimations","summary":{"html":"<p>Highlights
        from some of your favorite Let''s Plays, now 3D animated!<\/p>","clean":"Highlights
        from some of your favorite Let''s Plays, now 3D animated!"},"id":52,"slug":"minimations","seasonCount":2,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/generic_rt_cover.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/generic_rt_cover.jpg","md":"http:\/\/s[...]
- request:
    body: null
    headers:
      Authorization: [Bearer SValFp80O3AePw4VdQido8MnihcrBE6ur0y2iswg]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/204/episodes?page=1&count=20
  response:
    body: {string: '[{"title":"Deconstruction Crew","caption":"It''s metal against
        metal in an all-out bulldozer demolition derby! Gus, Burnie, Gavin, and Blaine
        witness the construction feud of the century!","sponsorOnly":false,"description":{"html":"<p>It''s
        metal against metal in an all-out bulldozer demolition derby! Gus, Burnie,
        Gavin, and Blaine witness the construction feud of the century!<\/p>\n\n<p>Made
        by the Rooster Teeth community GTA5 machinima team: The Lone Few.<\/p>\n\n<p>Audio
        from <a href=\"http:\/\/roosterteeth.com\/episode\/rt-podcast-2016-373\">The
        Rooster Teeth Podcast #373<\/a><\/p>","clean":"It''s metal against metal in
        an all-out bulldozer demolition derby! Gus, Burnie, Gavin, and Blaine witness
        the construction feud of the century!\n\nMade by the Rooster Teeth community
        GTA5 machinima team: The Lone Few.\n\nAudio from The Rooster Teeth Podcast
        #373"},"slug":"lets-play-minimations-straight-outta-rt-deconstruction-crew","site":"roosterTeeth","id":28661,"number":11,"length":138,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/56e8e0ba-ec5a-4710-a745-102ac9b4d0d5\/tb\/2013912-1465844973786-SoRT_11_THUMBNAIL.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/56e8e0ba-ec5a-4710-a745-102ac9b4d0d5\/sm\/2013912-1465844973786-SoRT_11_THUMBNAIL.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/uploads\/images\/56e8e0ba-ec5a-4710-a745-102ac9b4d0d5\/md\/2013912-1465844973[...]
- request:
    body: null
    headers:
      Authorization: [Bearer SValFp80O3AePw4VdQido8MnihcrBE6ur0y2iswg]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/204/episodes?page=2&count=20
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      X-Total-Count: ['11']
      X-request-uri: ['/api/v1/seasons/204/episodes?page=2&count=20']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Authorization: [Bearer SValFp80O3AePw4VdQido8MnihcrBE6ur0y2iswg]
    method: GET
    uri: https://roosterteeth.com/api/v1/episodes/28661
  response:
    body: {string: '{"title":"Deconstruction Crew","caption":"It''s metal against
        metal in an all-out bulldozer demolition derby! Gus, Burnie, Gavin, and Blaine
        witness the construction feud of the century!","sponsorOnly":false,"description":{"html":"<p>It''s
        metal against metal in[...]
