interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer tHdy4DFCWd37wPGPMPz7LRHuM3AjNL85pu3Lcl4f]
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/55
  response:
    body: {string: '{"name":"On The Spot","summary":{"html":"<p>Rooster Teeth''s official
        game show!  A live half hour of fast-paced laughs as host Jon Risinger puts
        two RT teams on the spot for points and mayhem.<\/p>","clean":"Rooster Teeth''s
        official game show!  A live half hour of fast-paced laughs as host Jon Risinger
        puts two RT teams on the spot for points and mayhem."},"id":55,"slug":"on-the-spot","seasonCount":12,"coverPicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/64f97401-2a32-4bbb-a9e6-5f9035fa680c.jpg\/tb\/OnTheSpotHero2.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/64f97401-2a32-4bbb-a9e6-5f9035fa680c.jpg\/sm\/OnTheSpotHero2.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/64f97401-2a32-4bbb-a9e6-5f9035fa680c.jpg\/md\/OnTheSpotHero2.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/64f97401-2a32-4bbb-a9e6-5f9035fa680c.jpg\/original\/OnTheSpotHero2.jpg"}},"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/e8d10356-958f-47c7-b66b-924d5bab5554.jpg\/tb\/OnTheSpotSquare.jpg","sm":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/e8d10356-958f-47c7-b66b-924d5bab5554.jpg\/sm\/OnTheSpotSquare.jpg","md":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/e8d10356-958f-47c7-b66b-924d5bab5554.jpg\/md\/OnTheSpotSquare.jpg","lg":"http:\/\/s3.amazonaws.com\/rtv3.image.cdn.roosterteeth.com\/store\/e8d10356-958f-47c7-b66b-924d5bab5554.jpg\/original\/OnTheSpotSquare.jpg"}},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/on-the-spot"}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/shows/55]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer tHdy4DFCWd37wPGPMPz7LRHuM3AjNL85pu3Lcl4f]
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/55/seasons/
  response:
    body: {string: '[{"title":"Season 12","description":"","id":730,"number":12,"slug":"on-the-spot-season-12","show":{"name":"On
        The Spot","summary":{"html":"<p>Rooster Teeth''s official game show!  A live
        half hour of fast-paced laughs as host Jon Risinger puts two RT teams on the
        spot for points and mayhem.<\/p>","clean":"Rooster Teeth''s official game
        show!  A live half hour of fast-paced laughs as host Jon Risinger puts two
        RT teams on the spot for points and mayhem."},"id":55,"slug":"on-the-spot","seasonCount":12,"coverPicture":{"type":"picture","content":{"tb":"htt[...]
- request:
    body: null
    headers:
      Authorization: [Bearer tHdy4DFCWd37wPGPMPz7LRHuM3AjNL85pu3Lcl4f]
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/455
  response:
    body: {string: '{"title":"Season 7","description":"","id":455,"number":7,"slug":"on-the-spot-season-7","show":{"name":"On
        The Spot","summary":{"html":"<p>Rooster Teeth''s official game show!  A live
        half hour of fast-paced laughs as host Jon Risinger puts two RT teams on the
        spot [...]
