interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2269567
  response:
    body: {string: '{"username":"sithyeti","displayTitle":null,"name":"","sex":"m","location":"","occupation":"","about":{"html":"","clean":""},"id":2269567,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/user_profile_male.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/user_profile_male.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/user_profile_male.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/user_profile_male.jpg"}},"sponsor":false,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/sithyeti","hasUsedTrial":true}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/2269567]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2269567
  response:
    body: {string: '{"username":"sithyeti","displayTitle":null,"name":"","sex":"m","location":"","occupation":"","about":{"html":"","clean":""},"id":2269567,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/user_profile_male.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/user_profile_male.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/user_profile_male.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/user_profile_male.jpg"}},"sponsor":false,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/sithyeti","hasUsedTrial":true}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/2269567]
    status: {code: 200, message: OK}
version: 1
