interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/search/?q=funny
  response:
    body: {string: '[{"episodes":[{"title":"Drawful with Kinda Funny","caption":"In
        the first ever Achievement Hunter-Kinda Funny collaboration we play Drawful,
        and the results are... questionable....","sponsorOnly":false,"description":{"html":"<p>In
        the first ever Achievement Hunter-Kinda Funny collaboration we play Drawful,
        and the results are... questionable....<\/p>\n\n<p><br \/><\/p>\n\n<p>Get
        tickets for <a href=\"http:\/\/www.kindafunny.com\/tickets\">Kinda Funny Live
        2<\/a><br \/><\/p>","clean":"In the first ever Achievement Hunter-Kinda Funny
        collaboration we play Drawful, and the results are... questionable....\n\n\n\nGet
        tickets for Kinda Funny Live 2"},"slug":"lets-play-2016-drawful-with-kinda-funny","site":"achievementHunter","id":26133,"number":88,"length":1658,"profilePicture":{"id":"100179713","uuid":"4820e835-7fe1-408a-aeb6-228d618f6f43","title":null,"description":null,"container_type":"Shows\\Models\\Episode","container_id":"26133","permission":{"value":0,"name":null},"aws_bucket":"cdn.roosterteeth.com","aws_key":"uploads\/images\/2f3980a0-46df-44f8-92f8-3b6f3a793352\/original\/2013912-1459178845939-kindafunny_df_thumb.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2016-03-28
        15:27:29","updated_at":"2018-01-17 20:28:57","deleted_at":null,"picture_type":"profile"},"show":{"name":"Let''s
        Play","summary":{"html":"<p>A revolving cast from the Let''s Play Family play
        video games extremely poorly.<\/p>","clean":"A revolving cast from the Let''s
        Play Family play video games extremely poorly."},"id":23,"slug":"lets-play","seasonCount":8,"coverPicture":{"id":"100180845","uuid":"4f1079d8-a194-4b0d-9c35-8079c6de1247","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"23","permission":{"value":0,"name":null},"aws_bucket":"cdn.roosterteeth.com","aws_key":"uploads\/images\/297dc522-2edf-4d69-ad38-5de2a6848582\/original\/21-1459367673014-LetsPlay_RT_website.png","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2016-03-30
        19:54:29","updated_at":"2018-01-17 19:35:29","deleted_at":null,"picture_type":"cover"},"profilePicture":{"id":"100522591","uuid":"23b9d038-de46-48e3-a5c2-d3f2c0d46b31","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"23","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/a6734c38-9014-4813-96fa-7651f22c706c.jpg\/original\/LetsPlaySquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-27
        20:43:19","updated_at":"2018-03-27 20:43:39","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/lets-play"},"season":{"title":"2016","description":"","id":346,"number":6,"slug":"lets-play-2016","show":{"name":"Let''s
        Play","summary":{"html":"<p>A revolving cast from the Let''s Play Family play
        video games extremely poorly.<\/p>","clean":"A revolving cast from the Let''s
        Play Family play video games extremely poorly."},"id":23,"slug":"lets-play","seasonCount":8,"coverPicture":{"id":"100180845","uuid":"4f1079d8-a194-4b0d-9c35-8079c6de1247","title":null,"description":null,"container_type":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/episodes/26133
  response:
    body: {string: '{"title":"Drawful with Kinda Funny","caption":"In the first ever
        Achievement Hunter-Kinda Funny collaboration we play Drawful, and the results
        are... questionable....","sponsorOnly":false,"description":{"html":"<p>In
        the first ever Achievement Hunter-Kinda Funny collaboration we play Drawful,
        and the results are... question[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/231
  response:
    body: {string: '{"name":"Newsroom","summary":{"html":"<p>Jared and Lauren work
        in the Newsroom. The gaming industry is funny business.<\/p>","clean":"Jared
        and Lauren work in the Newsroom. The gaming industry is funny business."},"id":231,"slug":"newsroom","seasonCount":1,"coverPicture":{"id":"100130625","uuid":"8ec81f39-42c0-42e9-b403-626ae5004282","title":nu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/users/219541
  response:
    body: {string: '{"username":"funny","displayTitle":"","name":"Chris","sex":"m","location":"","occupation":"","about":{"html":"","clean":""},"id":219541,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/user_profile_male.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/user_profile_male.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/user_profile_male.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/user_profile_male.jpg"}},"sponsor":false,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/funny","hasUsedTrial":false}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/219541]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/search/?q=
  response:
    body: {string: '[{"episodes":[],"totalCount":0},{"events":[],"totalCount":0},{"games":[],"totalCount":0},{"groups":[],"totalCount":0},{"interests":[],"totalCount":0},{"shows":[],"totalCount":0},{"users":[],"totalCount":0}]'}
    headers:
      Content-Type: [application/json]
      X-request-uri: ['/api/v1/search/?q=']
    status: {code: 200, message: OK}
version: 1
