interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2044162
  response:
    body: {string: '{"username":"xxChinasaurxx","displayTitle":"George","name":"NewName","sex":"p","location":"Asdasdasd","occupation":"param4","about":{"html":"","clean":""},"id":2044162,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/user_profile_female.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/user_profile_female.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/user_profile_female.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/user_profile_female.jpg"}},"sponsor":true,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/xxChinasaurxx","hasUsedTrial":true}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/2044162]
    status: {code: 200, message: OK}
version: 1
