interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/feed/?page=1&count=3&type=Episode
  response:
    body: {string: '[{"type":"Episode","item":{"title":"The Battle Of Bull Creek","caption":"Family
        Lineage stories! No one was related to royalty, but Jack''s great grandfather
        killed a wild bull one time. So that''s cool.","sponsorOnly":false,"description":{"html":"<p>Family
        Lineage stories! No one was related to royalty, but Jack''s great grandfather
        killed a wild bull one time. So that''s cool.<\/p>\n\n<p>Audio from Off Topic
        Podcast #95\nhttp:\/\/achievementhunter.roosterteeth.com\/episode\/off-topic-the-achievement-hunter-podcast-2017-95-45-h46m\nAnimated
        by: Gabe Silva\nDirected by: Andrew Lhotsky<\/p>","clean":"Family Lineage
        stories! No one was related to royalty, but Jack''s great grandfather killed
        a wild bull one time. So that''s cool.\n\nAudio from Off Topic Podcast #95\nhttp:\/\/achievementhunter.roosterteeth.com\/episode\/off-topic-the-achievement-hunter-podcast-2017-95-45-h46m\nAnimated
        by: Gabe Silva\nDirected by: Andrew Lhotsky"},"slug":"rt-animated-adventures-2018-337","site":"roosterTeeth","id":37871,"number":337,"length":80,"profilePicture":{"id":"100543842","uuid":"bbcdea49-9863-4161-b97e-27f37619669e","title":null,"description":null,"container_type":"Shows\\Models\\Episode","container_id":"37871","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/a05c5f4e-cd89-41f9-9617-032a7c5bb6d1.jpg\/original\/rtaa337tn.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-06-26
        19:58:15","updated_at":"2018-06-26 19:58:30","deleted_at":null,"picture_type":"profile"},"show":{"name":"RT
        Animated Adventures","summary":{"html":"<p>The animated shenanigans of the
        Rooster Teeth staff. Audio taken from the Rooster Teeth Podcast.<\/p>","clean":"The
        animated shenanigans of the Rooster Teeth staff. Audio taken from the Rooster
        Teeth Podcast."},"id":20,"slug":"rt-animated-adventures","seasonCount":8,"coverPicture":{"id":"100498795","uuid":"d14d0572-7872-45bf-bd1a-099c64e12f42","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"20","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/2da8eba7-7704-4d59-b401-10ee70a762eb.png\/original\/rtaacover.png","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-01-17
        21:22:01","updated_at":"2018-01-17 21:22:08","deleted_at":null,"picture_type":"cover"},"profilePicture":{"id":"100516098","uuid":"08077f38-dac3-4823-9931-6e8ed6660caa","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"20","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/ae987ef5-9ded-45bd-b533-02135b958242.jpg\/original\/RTAASquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-06
        19:13:58","updated_at":"2018-03-06 19:15:38","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/rt-animated-adventures"},"season":{"title":"2018","description":"","id":646,"number":8,"slug":"rt-animated-adventures-2018","show":{"name":"RT
        Animated Adventures","summary":{"html":"<p>The animated shenanigans of the
        Rooster Teeth staff. Audio taken from the Rooster Teeth Podcast.<\/p>","clean":"The
        animated shenanigans of the Rooster Teeth staff. Audio taken from the Rooster
        Teeth Podcast."},"id":20,"slug":"rt-animated-adventures","seasonCount":8,"coverPicture":{"id":"100498795","uuid":"d14d0572[...]
[...]
