interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/?page=1&count=20&site=funhaus
  response:
    body: {string: '[{"name":"Demo Disk","summary":{"html":"<p>After a fan sent us
        a binder of PC Gamer demo discs of games, we knew what we had to do: play
        them all, no matter how terrible. Demo Disk showcases 1990s to early 2000s-era
        games, with running commentary and jokes.<\/p>","clean":"After a fan sent
        us a binder of PC Gamer demo discs of games, we knew what we had to do: play
        them all, no matter how terrible. Demo Disk showcases 1990s to early 2000s-era
        games, with running commentary and jokes."},"id":66,"slug":"demo-disk","seasonCount":4,"coverPicture":{"id":"100505579","uuid":"fd0f2313-5b99-484f-beeb-d2c6839140c7","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"66","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/a2ad943a-63ef-4e72-a2e2-21dc96125da0.png\/original\/demo_disc_cover.png","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-02-02
        21:45:52","updated_at":"2018-02-02 21:45:56","deleted_at":null,"picture_type":"cover"},"profilePicture":{"id":"100519954","uuid":"15f2b5d8-82ee-46fb-94ee-25f9c99dda85","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"66","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/f23a7866-e959-459d-bc7f-fb9d8587bcd2.jpg\/original\/DemoDiskSquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-20
        16:45:11","updated_at":"2018-03-20 16:45:37","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/demo-disk"},{"name":"Twits
        and Crits","summary":{"html":"<p>Follow the Twits through the first three
        seasons as they save the world from a monstrous invasion.<\/p>","clean":"Follow
        the Twits through the first three seasons as they save the world from a monstrous
        invasion."},"id":271,"slug":"twits-crits","seasonCount":3,"coverPicture":{"id":"100257962","uuid":"80c3bbfe-57e8-409d-bc8e-eaf037b06f67","title":"","description":"","cont[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/66/seasons/
  response:
    body: {string: '[{"title":"2018","description":"","id":728,"number":4,"slug":"demo-disk-2018","show":{"name":"Demo
        Disk","summary":{"html":"<p>After a fan sent us a binder of PC Gamer demo
        discs of games, we knew what we had to do: play them all, no matter how terrible.
        Demo Disk showcases 1990s to early 2000s-era games, with running commentary
        and jokes.<\/p>","clean":"After a fan sent us a binder of PC Gamer demo discs
        of games, we knew what we had to do: play them all, no matter how terrible.
        Demo Disk showcases 1990s to early 2000s-era games, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/728/episodes?page=1&count=20
  response:
    body: {string: '[{"title":"PEARL HARBOR NECKLACE - Demo Disk Gameplay","caption":"\"That
        is a waste of good piss.\"","sponsorOnly":false,"description":{"html":"<p>Fun
        history fact: When he wasn''t too busy marrying his cousin or banging his
        many mistresses, Franklin Roosevelt actually also served three and half terms
        as President of The United States!<\/p>\n\n<p>Follow us on Twitter:\nhttp:\/\/twitter.com\/adamkovic\nhttp:\/\/twitter.com\/brucegreene\nhttp:\/\/twitter.com\/jameswillems<\/p>\n\n<p>Tshirts
        n stuff: https:\/\/store.roosterteeth.com\/collections\/funhaus<\/p>","clean":"Fun
        history fact: When he wasn''t too busy marrying his cousin or banging his
        many mistresses, Franklin Roosevelt actually also served three and half terms
        as President of The United States!\n\nFollow us on Twitter:\nhttp:\/\/twitter.com\/adamkovic\nhttp:\/\/twitter.com\/brucegreene\nhttp:\/\/twitter.com\/jameswillems\n\nTshirts
        n stuff: https:\/\/store.roosterteeth.com\/collections\/funhaus"},"slug":"demo-disk-2018-dd7","site":"funhaus","id":38013,"number":7,"length":856,"profilePicture":{"id":"100544082","uuid":"4621d3fb-6c16-477a-a748-af0adbc3944a","title":null,"description":null,"container_type":"Shows\\Models\\Episode","container_id":"38013","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/12a380c4-2439-4510-86f0-a9fb5181f3e0.png\/original\/dd7.png","weight":"0","created_by":"11","updated_by":"11","deleted_by":null,"censored_at":null,"created_at":"2018-07-08
        02:35:21","updated_at":"2018-07-08 0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/728/episodes?page=2&count=20
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      X-Total-Count: ['7']
      X-request-uri: ['/api/v1/seasons/728/episodes?page=2&count=20']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/543/episodes?page=1&count=20
  response:
    body: {string: '[{"title":"Funhaus Dungeons and Dragons - Ep. 31 Seasons 1-3 Finale","caption":"So
        it ends... for now.","sponsorOnly":true,"description":{"html":"<p>This is
        it! The stunning conclusion to our heroes'' first adventure, in which they
        engage in fisticuffs with an angry Sea-squatch, a fiery quest is undertaken,
        a familiar face from the past returns with violent intent, and Racsan''s brain
        gets damaged. Well... more damaged.<\/p>\n\n<p><br \/><\/p>\n\n\n\n<p>Thanks
        to\u00a0Daniel Gerstner for the fan-made intro! (<a href=\"https:\/\/twitter.com\/danger_street\">@Danger_Street<\/a>,\u00a0<a
        href=\"https:\/\/dangerst.artstation.com\/\">https:\/\/dangerst.artstation.com\/<\/a>)<\/p>\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n<p>http:\/\/twitter.com\/adamkovic<br \/>http:\/\/twitter.com\/brucegreene<br
        \/>http:\/\/twitter.com\/jameswillems<br \/>http:\/\/twitter.com\/elysewillems<br
        \/>http:\/\/twitter.com\/sirlarr<br \/>http:\/\/twitter.com\/mattseditbay<br
        \/>https:\/\/twitter.com\/filmDstryr<\/p>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<p><br
        \/><\/p>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<p>Tshirts n stuff:<a href=\"https:\/\/store.roosterteeth.com\/\">
        https:\/\/store.roosterteeth.com\/<br \/><br \/><\/a><\/p>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<p><a
        href=\"https:\/\/store.roosterteeth.com\/\">Buy<\/a> the Twits &amp; Crits
        Poster:<a href=\"https:\/\/store.roosterteeth.com\/products\/funhaus-twits-crits-poster-18-x-24\">
        https:\/\/store.roosterteeth.com\/products\/funhaus-twits-crits-poster-18-x-24<\/a><\/p>","clean":"This
        is it! The stunning conclusion to our heroes'' first adventure, in which they
        engage in fisticuffs with an angry Sea-squatch, a fiery quest is undertaken,
        a familiar face from the past returns with violent intent, and Racsan''s brain
        gets damaged. Well... more dam[...]
[...]
