interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/feed/?page=1&count=20&type=Episode&site=funhaus
  response:
    body: {string: '[{"type":"Episode","item":{"title":"2 DRUNK 2 DRIVE - Drunk GTA
        5 Gameplay","caption":"\"Jam it inside the red hole!\"","sponsorOnly":false,"description":{"html":"<p>Don''t
        let Jacob''s drunken sweetness here fool you. Last year at the RTX he burst
        into the VIP party, downed two cherry Long Islands, then kicked a family of
        Syrian refugees down a flight of stairs. <\/p>\n\n<p>Map link: https:\/\/socialclub.rockstargames.com\/games\/gtav\/pc\/jobs\/job\/P6-m6ciwK0auMA2ZTWfQ5Q#<\/p>\n\n<p>Follow
        us on Twitter:\nhttp:\/\/twitter.com\/adamkovic\nhttp:\/\/twitter.com\/brucegreene\nhttp:\/\/twitter.com\/jameswillems\nhttp:\/\/twitter.com\/sirlarr\nhttps:\/\/twitter.com\/ElyseWillems\nhttps:\/\/twitter.com\/_JacobFullerton\nhttps:\/\/twitter.com\/JoelRubin_\nTshirts
        n stuff: https:\/\/store.roosterteeth.com\/collections\/funhaus<\/p>","clean":"Don''t
        let Jacob''s drunken sweetness here fool you. Last year at the RTX he burst
        into the VIP party, downed two cherry Long Islands, then kicked a family of
        Syrian refugees down a flight of stairs. \n\nMap link: https:\/\/socialclub.rockstargames.com\/games\/gtav\/pc\/jobs\/job\/P6-m6ciwK0auMA2ZTWfQ5Q#\n\nFollow
        us on Twitter:\nhttp:\/\/twitter.com\/adamkovic\nhttp:\/\/twitter.com\/brucegreene\nhttp:\/\/twitter.com\/jameswillems\nhttp:\/\/twitter.com\/sirlarr\nhttps:\/\/twitter.com\/ElyseWillems\nhttps:\/\/twitter.com\/_JacobFullerton\nhttps:\/\/twitter.com\/JoelRubin_\nTshirts
        n stuff: https:\/\/store.roosterteeth.com\/collections\/funhaus"},"slug":"gameplay-2018-gtatransformer","site":"funhaus","id":37784,"number":130,"length":793,"profilePicture":{"id":"100543874","uuid":"becfd73a-cba8-46f7-a193-4c1dce638c9e","title":null,"description":null,"container_type":"Shows\\Models\\Episode","container_id":"37784","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/103600fc-e17a-4f79-9a47-9974d58fc1e9.png\/original\/transaf.png","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-06-27
        01:31:36","updated_at":"2018-06-27 01:31:42","deleted_at":null,"picture_type":"profile"},"show":{"name":"Gameplay","summary":{"html":"<p>Funhaus
        plays games. Games that are mostly stupid. Sometimes we play real games people
        actually like. We poke fun at glitches, voice acting, art, and mechanics,
        but we can also team up for competitive matches with other YouTubers.<\/p>","clean":"Funhaus
        plays games. Games that are mostly stupid. Sometimes we play real games people
        actually like. We poke fun at glitches, voice acting, art, and mechanics,
        but we can also team up for competitive matches with other YouTubers."},"id":65,"slug":"gameplay","seasonCount":4,"coverPicture":{"id":"100516197","uuid":"450d37ea-08f5-4e63-9bef-ccd3c4bfb8c5","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"65","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/0775729d-e08c-4efe-af61-673a2d3b55c4.jpg\/original\/GameplayHero.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-06
        23:32:21","updated_at":"2018-03-20 16:42:25","deleted_at":null,"picture_type":"cover"},"profilePicture":{"id":"100516047","uuid":"75e34401-73c1-4287-a28c-37c7b78a92d3","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"65","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/6e3d9423-b61b-4c56-b6e9-9273a36322cf.jpg\/original\/GameplaySquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-06
        18:28:29","updated_at":"2018-03-06 18:28:44","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/gameplay"},"season":{"title":"2018","description":"","id":640,"number":4,"slug":"gameplay-2018","show":{"name":"Gameplay","summary":{"html":"<p>Funhaus
        plays games. Games that are mostly stupid. Sometimes we play real games people
        actually like. We poke fun at glitches, voice acting, art, and mechanics,
        but we can also team up for competitive matches with other YouTubers.<\/p>","clean":"Funhaus
        plays games. Games that are mostly stupid. Sometimes we play real games people
        act[...]
