interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2044162
  response:
    body: {string: '{"username":"xxChinasaurxx","displayTitle":"George","name":"NewName","sex":"p","location":"Asdasdasd","occupation":"param4","about":{"html":"","clean":""},"id":2044162,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/user_profile_female.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/user_profile_female.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/user_profile_female.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/user_profile_female.jpg"}},"sponsor":true,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/xxChinasaurxx","hasUsedTrial":true}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/2044162]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2044162/queue?page=1&count=20
  response:
    body: {string: '[{"title":"Pi Day with the Cast of Crunch Time \u2013 #51","caption":"Meg
        forgot to submit an Internet Show and Tell video and someone in Ryan\u2019s
        home had a little accident. Plus, Meg sits down with the cast of the new Rooster
        Teeth show Crunch Time. Finally, Crunch Time star Nick Rutherford stops by
        to test his math skills","sponsorOnly":false,"description":{"html":"<p>It\u2019s
        Wednesday, my dudes. Meg forgot to submit an Internet Show and Tell video
        and someone in Ryan\u2019s home had a little accident. Plus, Meg sits down
        with the cast of the new Rooster Teeth show Crunch Time. Finally, Crunch Time
        star Nick Rutherford stops by to test his math skills along with the rest
        of the Free Play gang. <\/p>","clean":"It\u2019s Wednesday, my dudes. Meg
        forgot to submit an Internet Show and Tell video and someone in Ryan\u2019s
        home had a little accident. Plus, Meg sits down with the cast of the new Rooster
        Teeth show Crunch Time. Finally, Crunch Time star Nick Rutherford stops by
        to test his math skills along with the rest of the Free Play gang. "},"slug":"free-play-season-2-51","site":"roosterTeeth","id":26008,"number":51,"length":1722,"profilePicture":{"id":"100174588","uuid":"cdaafba2-ba35-4718-9d3b-65245033e4f5","title":null,"description":null,"container_type":"Shows\\Models\\Episode","container_id":"26008","permission":{"value":0,"name":null},"aws_bucket":"cdn.roosterteeth.com","aws_key":"uploads\/images\/41bcb52d-18ee-4caa-a436-7321c48ef167\/original\/2013912-1458149455854-fp51_-_THUMB_v2.png","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2016-03-16
        17:31:08","updated_at":"2018-01-17 20:28:52","deleted_at":null,"picture_type":"profile"},"show":{"name":"Free
        Play","summary":{"html":"<p>Meg Turney and Ryan Haywood bring you a fun dose
        of outrageous Internet videos, gaming news, and zany challenges.  Plus, interviews
        and exclusive clips from Rooster Teeth''s latest projects.<\/p>","clean":"Meg
        Turney and Ryan Haywood bring you a fun dose of outrageous Internet videos,
        gaming news, and zany challenges.  Plus, interviews and exclusive clips from
        Rooster Teeth''s latest projects."},"id":82,"slug":"free-play","seasonCount":2,"coverPicture":{"aws_bucket":"cdn.roosterteeth.com","aws_key":"default\/original\/generic_rt_cover.jpg"},"profilePicture":{"id":"100518189","uuid":"3d76c23b-659d-410c-a828-8ee678aaeb8d","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"82","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/c002bbb5-d235-4407-9991-9af51f9422cb.jpg\/original\/FreePlaySquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-14
        19:30:36","updated_at":"2018-03-14 19:30:52","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/free-play"},"season":{"title":"Season
        2","description":"","id":367,"number":2,"slug":"free-play-season-2","show":{"name":"Free
        Play","summary":{"html":"<p>Meg Turney and Ryan Haywood bring you a fun dose
        of outrageous Internet videos, gaming news, and zany challenges.  Plus, interviews
        and exclusive clips from Rooster Teeth''s latest projects.<\/p>","clean":"Meg
        Turney and Ryan Haywood bring you a fun dose of outrageous Internet videos,
        gaming news, and zany challenges.  Plus, interviews and exclusive clips from
        Rooster Teeth''s latest projects."},"id":82,"slug":"free-play","seasonCount":2,"coverPicture":{"aws_bucket":"cdn.roosterteeth.com","aws_key":"default\/original\/generic_rt_cover.jpg"},"profilePicture":{"id":"100518189","uuid":"3d76c23b-659d-410c-a828-8ee678aaeb8d","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"82","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/c002bbb5-d235-4407-9991-9af51f9422cb.jpg\/original\/FreePlaySquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-14
        19:30:36","updated_at":"2018-03-14 19:30:52","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/free-play"}},"canonicalUrl":"https:\/\/roosterteeth.com\/episode\/free-play-season-2-51","media":{"videos":[{"type":"video","content":{"type":"cdn","url":"https:\/\/rtv2-video.roosterteeth.com\/uploads\/videos\/fc2647a2-6b82-4ad0-bba7-93b96abb25c4\/index.m3u8"}}],"audioFiles":[],"links":[]}},{"title":"DISLIKE
        THIS VIDEO - Funhaus Comments #10","caption":"Or mod it. Since we''re not
        on YouTube here.","sponsorOnly":false,"description":{"html":"<p>They said
        it was a crazy idea. They said it would never work. They were wrong. The reverse
        psychology title bait we''re using today is going to revolutionize Funhaus.
        Just think about it. By asking - DARING - you guys to dislike the video, we''re
        drawing your eye. Making you think. Suddenly, you start to consider the ramifications
        of your action on a global scale. \"How will my thumbs down affect the price
        of millet in sub-Saharan Africa?\" \"Will my college admissions officer see
        my thumbs down as a reflection of my potential contribution to my residential
        house?\" \"Maybe my future spouse and I are thumbs-downing together at this
        exact second.\" <\/p>\n\n<p><br \/><\/p>\n\n<p>See? Really makes you think.
        Reverse psychology, huh?<\/p>\n\n<p><br \/><\/p>\n\n<p>Anyway, please dislike
        this video.<\/p>","clean":"They said it was a crazy idea. They said it would
        never work. They were wrong. The reverse psychology title bait we''re using
        today is going to revolutionize Funhaus. Just think about it. By asking -
        DARING - you guys to dislike the video, we''re drawing your eye. Making you
        think. Suddenly, you start [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2044162/queue?page=2&count=20
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      X-Total-Count: ['8']
      X-request-uri: ['/api/v1/users/2044162/queue?page=2&count=20']
    status: {code: 200, message: OK}
version: 1
