interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/?page=2&count=20
  response:
    body: {string: '[{"name":"RT Shorts","summary":{"html":"<p>It''s here.<\/p>","clean":"It''s
        here."},"id":61,"slug":"rt-shorts","seasonCount":7,"coverPicture":{"id":"100485514","uuid":"9dec47a5-bf52-4fb7-9a31-5324b981426a","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"61","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/3bc66285-12fb-4156-987e-61140425a822.jpg\/original\/RTShortsHero1.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2017-12-12
        17:56:53","updated_at":"2018-01-17 20:02:38","deleted_at":null,"picture_type":"cover"},"profilePicture":{"id":"100518448","uuid":"ee8996fb-d6ef-4fb9-8242-424ec6685c74","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"61","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/5a45481d-3bf1-4d00-ab22-5807f332a4bc.jpg\/original\/RTShortsSquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-14
        20:50:14","updated_at":"2018-03-14 20:50:22","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/rt-shorts"},{"name":"Fan
        Service","summary":{"html":"<p>Gray Haddock, Kerry Shawcross, Miles Luna,
        and their friends discuss the latest news, trailers, and episodes from the
        world of Anime.<\/p>","clean":"Gray Haddock, Kerry Shawcross, Miles Luna,
        and their friends discuss the latest news, trailers, and episodes from the
        world of Anime."},"id":251,"slug":"fan-service","seasonCount":3,"coverPicture":{"id":"100522387","uuid[...]
[...]
