interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/search/?q=stuff
  response:
    body: {string: '[{"episodes":[{"title":"The Good Stuff Guide","caption":"Far Cry
        3","sponsorOnly":false,"description":{"html":"<p>Ray and Geoff show you how
        to get the \"The Good Stuff\" achievement in Far Cry 3 for the Xbox 360.<\/p>","clean":"Ray
        and Geoff show you how to get the \"The Good Stuff\" achievement in Far Cry
        3 for the Xbox 360."},"slug":"achievement-unlocked-season-1-the-good-stuff-guide","site":"achievementHunter","id":6241,"number":1733,"length":78,"profilePicture":{"id":"3752","uuid":"715b9d0a-e9ff-4f0a-88ab-a8999f3079ba","title":"","description":null,"container_type":"Shows\\Models\\Episode","container_id":"6241","permission":{"value":0,"name":null},"aws_bucket":"cdn.roosterteeth.com","aws_key":"uploads\/images\/75d411a6-47b6-4cc5-83a2-fb46cd1826a3\/original\/ep6241.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-06-27
        17:36:42","updated_at":"2018-01-17 20:12:29","deleted_at":null,"picture_type":"profile"},"show":{"name":"Achievement
        Unlocked","summary":{"html":"<p>The Achievement Hunter Crew helps you get
        those achievements, one bleep bloop at a time.<\/p>","clean":"The Achievement
        Hunter Crew helps you get those achievements, one bleep bloop at a time."},"id":57,"slug":"achievement-unlocked","seasonCount":10,"coverPicture":{"id":"100485420","uuid":"7b193dc3-6b85-468b-9af5-8c39c14de2bd","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"57","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/756549c5-a1f6-40b6-85df-74598a5f6250.jpg\/original\/AchievementUnlockedHero3.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2017-12-12
        17:47:39","updated_at":"2018-01-17 16:45:49","deleted_at":null,"picture_type":"cover"},"profilePicture":{"id":"100522514","uuid":"2775ad5e-be0a-4514-bb1e-6aa7c1fbd060","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"57","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/d7b03dfb-2c9c-4660-a1a8-1982e8d3b834.jpg\/original\/AchievementUnlockedSquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-27
        20:25:31","updated_at":"2018-03-27 20:25:58","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/achievement-unlocked"},"season":{"title":"2012","description":"","id":249,"number":5,"slug":"achievement-unlocked-2012","show":{"name":"Achievement
        Unlocked","summary":{"html":"<p>The Achievement Hunter Crew helps you get
        those achievements, one bleep bloop at a time.<\/p>","clean":"The Achievement
        Hunter Crew helps you get those achievements, one bleep bloop at a time."},"id":57,"slug":"achievement-unlocked","seasonCount":10,"coverPicture":{"id":"100485420","uuid":"7b193dc3-6b85-468b-9af5-8c39c14de2bd"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/episodes/6241
  response:
    body: {string: '{"title":"The Good Stuff Guide","caption":"Far Cry 3","sponsorOnly":false,"description":{"html":"<p>Ray
        and Geoff show you how to get the \"The Good Stuff\" achievement in Far Cry
        3 for the Xbox 360.<\/p>","clean":"Ray and Geoff show you how to get the \"The
        Good Stuff\" achievement in Far Cry 3 for the Xbox 360."},"slug":"achieveme[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/users/2490245
  response:
    body: {string: '{"username":"Stuff-n-things","displayTitle":null,"name":null,"sex":null,"location":null,"occupation":null,"about":{"html":"","clean":""},"id":2490245,"profilePicture":{"type":"picture","content":{"tb":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/tb\/user_profile_female.jpg","sm":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/sm\/user_profile_female.jpg","md":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/md\/user_profile_female.jpg","lg":"http:\/\/s3.amazonaws.com\/cdn.roosterteeth.com\/default\/original\/user_profile_female.jpg"}},"sponsor":false,"canonicalUrl":"https:\/\/roosterteeth.com\/user\/Stuff-n-things","hasUsedTrial":false}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/users/2490245]
    status: {code: 200, message: OK}
[...]
