interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/55
  response:
    body: {string: '{"name":"On The Spot","summary":{"html":"<p>Rooster Teeth''s official
        game show!  A live half hour of fast-paced laughs as host Jon Risinger puts
        two RT teams on the spot for points and mayhem.<\/p>","clean":"Rooster Teeth''s
        official game show!  A live half hour of fast-paced laughs as host Jon Risinger
        puts two RT teams on the spot for points and mayhem."},"id":55,"slug":"on-the-spot","seasonCount":12,"coverPicture":{"id":"100486522","uuid":"8b69627a-e427-45ca-af46-fe3baf460816","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"55","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/64f97401-2a32-4bbb-a9e6-5f9035fa680c.jpg\/original\/OnTheSpotHero2.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2017-12-14
        17:08:45","updated_at":"2018-03-14 20:42:23","deleted_at":null,"picture_type":"cover"},"profilePicture":{"id":"100516084","uuid":"31f13166-cc51-4c35-afce-0f991289dbc5","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"55","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/e8d10356-958f-47c7-b66b-924d5bab5554.jpg\/original\/OnTheSpotSquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-06
        19:11:56","updated_at":"2018-03-06 19:12:09","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/on-the-spot"}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/shows/55]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/55/seasons/
  response:
    body: {string: '[{"title":"Season 12","description":"","id":730,"number":12,"slug":"on-the-spot-season-12","show":{"name":"On
        The Spot","summary":{"html":"<p>Rooster Teeth''s official game show!  A live
        half hour of fast-paced laughs as host Jon Risinger puts two RT teams on the
        spot for points and mayhem.<\/p>","clean":"Rooster Teeth''s official game
        show!  A live half hour of fast-paced laughs as host Jon Risinger puts two
        RT teams on the spot for points and mayhem."},"id":55,"slug":"on-the-spot","seasonCount":12,"coverPicture":{"id":"100486522","uuid":"8b69627a-e42[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/455
  response:
    body: {string: '{"title":"Season 7","description":"","id":455,"number":7,"slug":"on-the-spot-season-7","show":{"name":"On
        The Spot","summary":{"html":"<p>Rooster Teeth''s official game show!  A live
        half hour of fast-paced laughs as host Jon Risinger puts two RT teams on the
        spot for points and mayhem.<\/p>","clean":"Rooster Teeth''s official game
  [...]
