interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/52
  response:
    body: {string: '{"name":"Minimations","summary":{"html":"<p>Highlights from some
        of your favorite Let''s Plays, now 3D animated!<\/p>","clean":"Highlights
        from some of your favorite Let''s Plays, now 3D animated!"},"id":52,"slug":"minimations","seasonCount":2,"coverPicture":{"aws_bucket":"cdn.roosterteeth.com","aws_key":"default\/original\/generic_rt_cover.jpg"},"profilePicture":{"id":"100518239","uuid":"3aed3a45-fcfe-404b-9ee3-655178bd0d7f","title":null,"description":null,"container_type":"Shows\\Models\\Show","container_id":"52","permission":{"value":0,"name":null},"aws_bucket":"rtv3.image.cdn.roosterteeth.com","aws_key":"store\/e763407e-ad29-41cd-ae4e-533ab7085167.jpg\/original\/MinimationsSquare.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2018-03-14
        19:39:55","updated_at":"2018-03-14 19:40:24","deleted_at":null,"picture_type":"profile"},"canonicalUrl":"https:\/\/roosterteeth.com\/show\/minimations"}'}
    headers:
      Content-Type: [application/json]
      X-request-uri: [/api/v1/shows/52]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/shows/52/seasons/
  response:
    body: {string: '[{"title":"Straight Outta RT","description":"","id":204,"number":2,"slug":"lets-play-minimations-straight-outta-rt","show":{"name":"Minimations","summary":{"html":"<p>Highlights
        from some of your favorite Let''s Plays, now 3D animated!<\/p>","clean":"Highlights
        from some of your favorite Let''s Plays, now 3D animated!"},"id":52,"slug":"minimations","seasonCount":2,"coverPicture":{"aws_bucket":"cdn.roosterteeth.com","aws_key":"default\/original\/generic_rt_cover.jpg"},"profilePicture":{"id":"100518239","uuid":"3aed3a45-fcfe-404b-9ee3-655178bd0d7f","title":null,"description":null,"container_type":"Show[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/204/episodes?page=1&count=20
  response:
    body: {string: '[{"title":"Deconstruction Crew","caption":"It''s metal against
        metal in an all-out bulldozer demolition derby! Gus, Burnie, Gavin, and Blaine
        witness the construction feud of the century!","sponsorOnly":false,"description":{"html":"<p>It''s
        metal against metal in an all-out bulldozer demolition derby! Gus, Burnie,
        Gavin, and Blaine witness the construction feud of the century!<\/p>\n\n<p>Made
        by the Rooster Teeth community GTA5 machinima team: The Lone Few.<\/p>\n\n<p>Audio
        from <a href=\"http:\/\/roosterteeth.com\/episode\/rt-podcast-2016-373\">The
        Rooster Teeth Podcast #373<\/a><\/p>","clean":"It''s metal against metal in
        an all-out bulldozer demolition derby! Gus, Burnie, Gavin, and Blaine witness
        the construction feud of the century!\n\nMade by the Rooster Teeth community
        GTA5 machinima team: The Lone Few.\n\nAudio from The Rooster Teeth Podcast
        #373"},"slug":"lets-play-minimations-straight-outta-rt-deconstruction-crew","site":"roosterTeeth","id":28661,"number":11,"length":138,"profilePicture":{"id":"100228693","uuid":"353cd07b-edab-4ace-875b-1a03cc1bc87b","title":"","description":"","container_type":"Shows\\Models\\Episode","container_id":"28661","permission":{"value":0,"name":null},"aws_bucket":"cdn.roosterteeth.com","aws_key":"uploads\/images\/56e8e0ba-ec5a-4710-a745-102ac9b4d0d5\/original\/2013912-1465844973786-SoRT_11_THUMBNAIL.jpg","weight":"0","created_by":"1","updated_by":"1","deleted_by":null,"censored_at":null,"created_at":"2016-06-13
        19:09:37","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/seasons/204/episodes?page=2&count=20
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      X-Total-Count: ['11']
      X-request-uri: ['/api/v1/seasons/204/episodes?page=2&count=20']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roosterteeth.com/api/v1/episodes/28661
  response:
    body: {string: '{"title":"Deconstruction Crew","caption":"It''s metal against
        metal in an all-out bulldozer demolition derby! Gus, Burnie, Gavin, and Blaine
        witness the construction feud of the century!","sponsorOnly":false,"description":{"html":"<p>It''s
        metal against metal in an all-out bulldozer demolition derby! Gus, Burnie,
        Gavin, and[...]
